.user-list {
  margin: 20px;
}

.user-list h1{
  font-size: 2rem;
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sorted{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
}

.sorted button{
  padding: 6px;
  border: 1px solid rgb(71, 69, 69);
}

.sorted button.active {
  background-color: rgb(184, 46, 46); 
  color: white;
}

.input_search {
  display: flex;
  flex-direction: column
}

.input_search input{
  width: 100%;
  border: 1px solid black;
  padding: 8px;
  border-radius: 8px;
}

.list {
  margin: 10px 0;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  position: relative;
}

.delete_button {
    position: absolute;
    left: 95%;
    top: 13%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 6px;
    border-radius: 12px;
    border: 1px solid silver;
    box-shadow: 0px 0px 9px silver;
    transition: all 0.1s ease-in;
&:hover{
    box-shadow: 0px 0px 15px silver;
}}

.input_radio_orders {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.input_radio_orders label{
  display: flex;
  align-items: center;
  gap: 2px;
}

.progress {
  color: #0c5460;
}

.completed {
  background-color: #d4edda;
  color: #155724; 
}

.failed {
  background-color: #f8d7da; 
  color: #721c24; 
}