@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{margin: 0; box-sizing: border-box; padding: 0; font-family: "Roboto Condensed", system-ui;}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper nav{
    display: flex;
    gap: 1rem;
    background-color: rgb(184, 46, 46);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.wrapper nav .link{
    color: white;
}

.wrapper nav div:nth-child(1){
    display: flex;
    gap: 1rem;
}

.wrapper nav div:nth-child(2) button{
    padding: 6px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
&:hover{
    opacity: 0.8;
}}

.links div{
    display: flex;
    align-items: start;
    position: relative;
    margin-bottom: 12px;
}

.links div span{
    border: 1px solid rgb(221, 214, 214);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    color: rgb(221, 214, 214);
    align-items: center;
    justify-content: center;
    position: absolute;
}

.links div span:nth-child(1){
    left: 50%;
    top: 125%;
    transform: translate(-50%, -50%);
}

.links div span:nth-child(2){
    left: 50%;
    top: 125%;
    transform: translate(-50%, -50%);
}

.order_detailed {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid silver;
}

.order_detailed div{
    padding: 6px;
    
}